.reset-header,
.card-footer {
    background: linear-gradient(135deg, #2e3c4b 0%, #131212 100%);
}

.reset-card {
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.reset-card:hover {
    transform: translateY(-5px);
}

.reset-btn {
    /* background: linear-gradient(135deg, #283038 0%, #100329 100%); */
    border: none;
    transition: all 0.3s ease;
    color: black;
}

.reset-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #205080 0%, #4a317d 100%);
    color: white;
}

.invalid-feedback {
    font-size: 0.875rem;
    color: #dc2626;
}

/* Password Reset Done styles */
.reset-done-card {
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.reset-done-card:hover {
    transform: translateY(-5px);
}

.reset-done-header {
    background: linear-gradient(135deg, #4a90e2 0%, #7e57c2 100%);
}

.reset-done-icon {
    font-size: 4rem;
    color: #7e57c2;
    margin: 1.5rem 0;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.btn-return {
    background: linear-gradient(135deg, #4a90e2 0%, #7e57c2 100%);
    color: white;
    transition: all 0.3s ease;
}

.btn-return:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    background: linear-gradient(135deg, #357abd 0%, #6344a3 100%);
}